header {
    height: 56px;
    width: 100%;
    background-color: #fff;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.header__left {
    display: flex;
    align-items: center;
}

.header--toggle {
    background-image: url(../../assets/img/toggle.png);
    margin-left: 16px;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
}

.header--logo {
    
    width: 144px;
    background-image: url(../../assets/cukcuk-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
}

.header--employee-image {
    width: 36px;
    height: 36px;
    background-color: #d9d9d9;
    border-radius: 100%;
    right: 0;
    margin-right: 20px;
}

.header--bars {
    background-image: url(../../assets/img/three-bars_1.png);
    margin-left: 16px;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    border: none;
}